 .lista {
     display: grid;
     width: 90dvw;
     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     gap: 2vmax;
     grid-auto-rows: minmax(100px, auto);
 }

 .persona {
     width: 11dvw;
     font-size: clamp(13px, calc(1*(1vh + 1vw)), 1.3rem);
     color: limegreen;
     border: dotted 1px limegreen;
     padding: 3vmin;
     margin: .5em auto;
 }

 .nombre {
     font-weight: bold;
 }

 .detalles {
     font-size: smaller;
 }